@font-face {
  font-family: "Hiragino";
  src: "./hiragino.woff" format("woff");
  unicode-range: U+4E00–U+9FBF, U+3040–U+309F, U+30A0–U+30FF;
}

@font-face {
  font-family: "Klien";
  src: url(../assets/fonts/klein-Regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: "Nanum BGothic";
  src: url(../assets/fonts/NanumBarunGothic.otf) format('otf');
  font-weight: 400;
  unicode-range: U+0020-U+007E,U+1100-U+11F9,U+3000-U+303F,U+3131-U+318E,U+327F-U+327F,U+AC00-U+D7A3,U+FF01-U+FF60;
}

@font-face {
  font-family: "Caruta";
  src: url(../assets/fonts/caruta-Roman.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: "Caruta";
  src: url(../assets/fonts/caruta-Bold.woff) format('woff');
  font-weight: 600;
}

@font-face {
    font-family: "Cascadia";
    src: "/assets/CascadiaCode.ttf" format("ttf");
}
