@font-face {
  font-family: "Hiragino";
  src: "./hiragino.woff" format("woff");
  unicode-range: U+4E00–U+9FBF, U+3040–U+309F, U+30A0–U+30FF;
}

@font-face {
  font-family: Klien;
  src: url(../assets/fonts/klein-Regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: "Nanum BGothic";
  src: url(../assets/fonts/NanumBarunGothic.otf) format('otf');
  font-weight: 400;
  unicode-range: U+AC00-U+D7A3;
}