---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Klien", "Noto Sans", "Hiragino", "Noto Sans KR",  Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
/*
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
*/
$text-color:       #fff !default; //#111 !default;
$background-color: #282828 !default; //#fdfdfd !default;
$brand-color:      #800 !default; //#2a7ae2 !default;

$grey-color:       #7b7b7b !default; //#828282 !default;
$grey-color-light: #bbb !default; //lighten($grey-color, 40%) !default;
$grey-color-dark:  #666 !default; //darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
