{% assign page_feed = page.feed %}
{% if page_feed.first %}
  {% for feed in page_feed %}
    <link type="application/atom+xml" rel="alternate" href="{{ feed.path | default: feed | relative_url }}" title="{{ feed.title | replace: '_title_', site.title | default: site.title | scape }}" />
  {% endfor %}
{% elsif page_feed %}
  <link type="application/atom+xml" rel="alternate" href="{{ page_feed.path | default: page_feed | relative_url }}" title="{{ page_feed.title | replace: '_title_', site.title | default: site.title | scape }}" />
{% endif %}
{% if site.feed.path %}
  <link type="application/atom+xml" rel="alternate" href="{{ site.feed.path | relative_url }}" title="{{ site.feed.title | replace: '_title_', site.title | default: site.title | scape }}" />
{% endif %}
