---
layout: page
---
<div class="post-content">
  {{ content }}
</div>

{% include language.html %}
{% for author in site.data.authors %}
  <h4>{% if author[1].image %}<img src="{{ author[1].image }}" class="user-image"/>{% endif %}<span class="user-name">{{ author[1].name }}</span></h4>

  <ul>
    {% if author[1].description %}
      {% if author[1].description.first %}
        <li>{% include localized_string.html string="description" %}: {{ author[1].description[_lang] }}</li>
      {% else %}
        <li>{% include localized_string.html string="description" %}: {{ author[1].description }}</li>
      {% endif %}
    {% endif %}

    {% if author[1].bio %}
      <li>{% include localized_string.html string="bio" %}: {{ author[1].bio }}</li>
    {% endif %}

    {% if author[1].links.first %}
      <li>{% include localized_string.html string="links" %}:</li>
      <ul>
      {% for author_link in author[1].links %}
        <li>{{ author_link[0] }}: <a href="{{ author_link[1] }}">{{ author_link[1] }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  </ul>
{% endfor %}
