---
layout: default
---
<div class="home">

  {% assign langs = site.data.config.langs | default: site.theme_config.langs %}
  {% include language.html %}
  <header class="page-header">
    <h1 class="page-heading">
      {% include localized_string.html string="Choose Language" %}
      {% for loop_lang in langs %}
        {% if forloop.index0 > 0 and site.data.localization.strings.choose_language[loop_lang.first] %}
          / {% include localized_string.html string="Choose Language" lang=loop_lang.first %}
        {% endif %}
      {% endfor %}
    </h1>
  </header>
  <ul class="lang-list">
    {% if langs %}
      {% for lang in langs %}
        <li>
          <a href="{{ lang[0] | relative_url }}">{{ lang[1] | default: lang[0] }}</a>
        </li>
      {% endfor %}
    {% else %}
      <li>
        <a href="{{ '/en' | relative_url }}">english</a>
      </li>
    {% endif %}
  </ul>

  {{ content }}
</div>
