---
layout: page
---
<div class="post-content">
  {{ content }}
</div>

{% include language.html %}

{% for project in site.data.projects %}
  {% if project[1].link %}
    <h4 id="{{ project[0] }}"><a href="{{ project[1].link[_lang] | default: project[1].link }}">{{ project[1].name | default: project[0] }}</a></h4>
  {% else %}
    <h4>{{ project[1].name | default: project[0] }}</h4>
  {% endif %}

  <ul>
    {% if project[1].description %}
      {% if project[1].description.first %}
        <li>{% include localized_string.html string="description" %}:
        {{ project[1].description[_lang] }}</li>
      {% else %}
        <li>{% include localized_string.html string="description" %}: {{ project[1].description }}</li>
      {% endif %}
    {% endif %}

    {% if project[1].url %}
      <li>{% include localized_string.html string="url" %}: <a href="{{ project[1].url }}">{{ project[1].url }}</a></li>
    {% endif %}
  </ul>
{% endfor %}
